.center-aligned {
    margin: auto;
    text-align: center;
    width: 100%;
}

#simulation_div {
    width: 30%;
    border: 3px solid black;
    padding: 10px;
}

.initial_buttons {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 5pt;
}

#options_dialog_ok_button {
    margin: 5pt;
}

#options_dialog_cancel_button {
    margin: 5pt;
}
