
.close_button {
    display: inline-block;
    cursor: pointer;
    border: 0px solid #fff;
    font-weight: 700;
    background: inherit;
    padding: 0 0 0 0px;
    font-size: 13px;
    border-radius: 4px;
    color: rgb(29, 28, 29);
    height: 28px;
    min-width: 0px;
}
.close_button:hover {
    background-color: rgb(199, 199, 199);
}


body {
    font-family: Arial;
    color: black;
}

.hidden {
    display: none;
}