body {
    display: block;
}

.center-aligned {
    margin: auto;
    text-align: center;
    width: 100%;
}

.external_simulation_control_button {
    min-width: 5%;
    width: fit-content;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 5pt;
}

.external_simulation_control_buttons {
    background-color: #00ffff;
    border: 1px solid #000000;
    margin-bottom: 1vh;
}

.choice {
    margin: 5pt;
    width: 10%;
    border: 5px solid black;
    max-width: 200px;
    max-height: 200px;
    aspect-ratio: 1;
}

.choice:hover {
    opacity: 0.5;
}

.close_button {
    display: inline-block;
    cursor: pointer;
    border: 0px solid #fff;
    font-weight: 700;
    background: inherit;
    padding: 0 0 0 0px;
    font-size: 13px;
    border-radius: 4px;
    color: rgb(29, 28, 29);
    height: 28px;
    min-width: 0px;
}

.close_button:hover {
    background-color: rgb(199, 199, 199);
}

.hidden {
    display: none;
}

.flex_div {
    display: flex;
    overflow: auto;
}

.left_container_div {
    display: flex;
}

#left_container_div {
    border: 1px solid #000000;
}

.right_container_div_alone {
    border: 1px solid #000000;
}

.right_container_div_not_alone {
    border: 1px solid #000000;
    border-width: 1px 1px 1px 0;
}

#right_container_div {
    display: flex;
}

#error_div {
    border: 3px solid #000000;
    padding: 1vw 1vh 1vw 1vh;
    color: #ff0000;
    font-weight: bold;
    margin: 1vw 1vh 1vw 1vh;
    width: auto;
}
