body {
    display: block;
}

.center-aligned {
    margin: auto;
    text-align: center;
    width: 100%;
}

.external_simulation_control_button {
    width: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 5pt;
}

.choice {
    margin: 5pt;
    width: 10%;
    border: 5px solid black;
}

.choice:hover {
    opacity: 0.5;
}

.close_button {
    display: inline-block;
    cursor: pointer;
    border: 0px solid #fff;
    font-weight: 700;
    background: inherit;
    padding: 0 0 0 0px;
    font-size: 13px;
    border-radius: 4px;
    color: rgb(29, 28, 29);
    height: 28px;
    min-width: 0px;
}

.close_button:hover {
    background-color: rgb(199, 199, 199);
}

.hidden {
    display: none;
}

#container_div {
    display: flex;
    overflow: auto;
}

.left_container_div {
    display: flex;
}

#left_container_div {
    border: 1px solid #000000;
}

.right_container_div_alone {
    border: 1px solid #000000;
}

.right_container_div_not_alone {
    border: 1px solid #000000;
    border-width: 1px 1px 1px 0;
}

#right_container_div {
    display: flex;
}
